<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <a href="#Main" class="link-fokus">List Resto</a>
    <header>
      <!-- appbar -->
      <nav id="drawer" class="appbar">
        <a href="" class="nav-logo">Dhahar</a>
        <ul class="list-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Favourite</a></li>
          <li><a href="https://www.instagram.com/bintang__.19/">About Us</a></li>
        </ul>
        <div class="hamburger">
          <button id="Hamburger"><i data-feather="menu"></i></button>
        </div>
      </nav>
    </header>
    <main id="Main">
      <!-- jumbotron -->
      <div class="Hero">
        <div class="HeroIn">
          <h4 class="judul-hero">tempat makan enak</h4>
          <p class="tagline-hero">rasakan sensasi yang belum pernah anda rasakan</p>
        </div>
      </div>

      <div class="tempat-makan">
        <h2>Rekomendasi restaurant di dekatmu</h2>
        <div class="list-tempat" id="list-tempat"></div>
      </div>
    </main>
    <footer>
      <p>"copyright &copy; 2024 - Dhahar by Tengku Bintang"<p>
    </footer>
    <script>
      feather.replace();
    </script>
  </body>
</html>
